.button-yellow {
  background: #ffc107;
  border: unset;
  font-size: 1.6rem;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid #ffc107;
}
.button-yellow:hover {
  background: white;
  border: 1px solid #ffc107;
  color: black;
  cursor: pointer;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.8rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.main-container {
  max-width: 60%;
  margin: 0 auto;
}
.full-width {
  margin-left: -33.33%;
  margin-right: -33.33%;
}
.header-section {
  background: black;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 auto;
  padding: 25px 0;
}
header img {
  height: 50px;
}
@media (max-width: 800px) {
  header img {
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  header img {
    margin-bottom: unset;
  }
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}
header nav a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 0 20px;
}
header nav a:hover {
  color: #ffc107;
}
@media (max-width: 500px) {
  header nav a {
    border-bottom: 2px solid #ffc107;
    width: 70vw;
    font-size: 1.8rem;
    padding: 20px 0;
  }
}
@media (max-width: 500px) {
  header nav {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 800px) {
  header {
    flex-direction: column;
  }
}
.footer-section {
  background: black;
  padding: 0 50px;
}
.footer-section > p {
  border-top: 1px solid #ffc107;
  padding: 15px;
  color: white;
  text-align: center;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 30px;
}
footer div {
  max-width: 350px;
  color: white;
  padding: 20px;
}
footer p {
  font-size: 1.4rem;
}
footer .footer-about img {
  height: 40px;
}
footer .footer-links nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: nowrap;
}
footer .footer-links nav a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-transform: unset;
  padding: 3px 0;
}
footer .footer-links nav a:hover {
  color: #ffc107;
}
.section-header {
  padding: 50px;
  text-align: center;
}
.intro-section {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}
.intro-section div.intro-img {
  margin-top: 100px;
  width: 50%;
  padding: 50px;
}
@media (max-width: 500px) {
  .intro-section div.intro-img {
    display: none;
  }
}
.intro-section div.intro-text {
  margin-top: 100px;
  width: 50%;
  padding: 50px;
}
@media (max-width: 500px) {
  .intro-section div.intro-text {
    width: 90%;
  }
}
.how-it-works {
  background: #f2f2f2;
}
.how-it-works div.flex {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}
.how-it-works div.flex div.info-box {
  width: calc(50% - 50px);
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
}
.how-it-works div.flex div.info-box h2 {
  text-align: center;
}
.how-it-works div.flex div.info-box ul li {
  padding: 10px 20px;
  font-size: 2rem;
}
.how-it-works div.flex div.info-box ul li:hover {
  cursor: pointer;
  font-size: 2.2rem;
  color: #ffc107;
}
@media (max-width: 800px) {
  .how-it-works div.flex div.info-box {
    width: 80%;
    margin-top: 20px;
  }
}
@media (max-width: 800px) {
  .how-it-works div.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.app-section {
  background: #ffc107;
  color: black;
  border-bottom: 2px solid white;
  padding-bottom: 50px;
}
.app-section .install-app {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.app-section .install-app img {
  max-width: 500px;
  flex: 1;
}
.app-section .install-app div img {
  max-width: 200px;
  height: 80px;
  padding: 10px 10px 0 0;
}
.app-section .install-app div p {
  margin-top: 10px;
}
@media (max-width: 800px) {
  .app-section .install-app {
    flex-direction: column;
  }
}
.button1 {
  background: black;
  border: unset;
  font-size: 1.6rem;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid black;
}
.button1:hover {
  background: white;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}
.button2 {
  background: #ffc107;
  border: unset;
  font-size: 1.6rem;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid #ffc107;
}
.button2:hover {
  background: white;
  border: 1px solid #ffc107;
  color: black;
  cursor: pointer;
}
.about-hero {
  background: black;
  color: white;
  text-align: center;
  padding: 30px 0;
}
.about-hero p {
  margin-top: 10px;
}
.the-team {
  background: #ffc107;
}
.the-team h2 {
  padding-top: 40px;
  text-align: center;
}
.the-team .team-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.the-team .team-info div {
  text-align: center;
  background: white;
  border-radius: 10px;
  width: 250px;
  margin: 25px 0;
  height: 350px;
  padding: 0 10px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
}
.the-team .team-info div img {
  height: 150px;
  width: 150px;
  background: black;
  border-radius: 75px;
  margin: 25px 0;
}
.the-team .team-info div p {
  font-size: 1.8rem;
}
.the-team .team-info div i {
  margin-top: 5px;
  font-size: 2.8rem;
  padding: 0 10px;
  color: black;
}
.the-team .team-info div i:hover {
  color: #ffc107;
  font-size: 3.2rem;
}
.contact-hero {
  background: black;
  height: 150px;
}
.contact-hero h2 {
  text-align: center;
  padding: 30px 0;
  color: white;
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 50px 0;
}
.contact .contact-form {
  flex-grow: 2;
  padding: 10px 30px;
}
.contact .contact-form input[type="text"],
.contact .contact-form input[type="email"],
.contact .contact-form textarea {
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  border: unset;
  font-family: inherit;
  font-size: 1.8rem;
  width: 100%;
}
.contact .contact-form .submit {
  background: black;
  border: unset;
  font-size: 1.6rem;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 15px;
}
.contact .contact-form .submit:hover {
  background: white;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}
@media (max-width: 800px) {
  .contact .contact-form {
    padding: unset;
    margin-bottom: 30px;
  }
}
.contact .contact-details ul li {
  font-size: 1.8rem;
  padding: 20px 20px;
  border-bottom: 2px solid white;
  background: #ffc107;
}
.contact .contact-details ul li i {
  margin-right: 20px;
}
@media (max-width: 800px) {
  .contact {
    flex-direction: column;
    align-items: flex-start;
  }
}
