/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
  color: black;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container-home {
  max-width: 100%;
  margin: 0 auto;
}
header {
  background-color: #F08080;
  width: 100%;
  padding: 2%;
  margin: 0;
  font-size: 2rem;
}
header h1 {
  font-size: 4rem;
  text-align: center;
  color: #DC143C;
}
header img {
  max-width: 50%;
}
header a {
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5;
}
header a:hover {
  background: rbga(0, 0, 0, 0.3);
}
header .flex-nav ul {
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: baseline;
}
header .flex-nav ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .login {
  background-color: #87CEFA;
  border-radius: 20px;
  cursor: pointer;
  width: 150px;
  height: 5%;
  font-size: 1.6rem;
  color: khaki;
}
header .login:hover {
  background-color: khaki;
  color: #87CEFA;
}
header .signUp {
  background-color: #DAA520;
  border-radius: 20px;
  cursor: pointer;
  width: 150px;
  height: 5%;
  font-size: 1.6rem;
  color: #FF4500;
}
header .signUp:hover {
  background-color: #FF4500;
  color: #DAA520;
}
.container-home .context {
  background-color: #05F9EA;
  padding: 5%;
  border-radius: 5%;
}
.container-home .hero {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding-top: 10%;
  padding-right: 2%;
}
.container-home .hero img {
  max-width: 50%;
  border-radius: 25%;
}
.container-home .hero h2 {
  font-size: 5rem;
  text-align: center;
}
.container-home .hero p {
  text-align: center;
  margin-top: 5%;
}
.container-home .about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding-top: 10%;
  padding-left: 2%;
}
.container-home .about-us h2 {
  text-align: center;
}
.container-home .about-us p {
  text-align: center;
  margin-right: 2%;
}
.container-home .about-us img {
  max-width: 50%;
  border-radius: 25%;
}
.container-home .app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  max-width: 100%;
  padding-top: 10%;
  padding-left: 2%;
}
.container-home .app h2 {
  text-align: center;
}
.container-home .app p {
  text-align: center;
}
.container-home .app img {
  max-width: 50%;
  border-radius: 25%;
  padding-right: 2%;
}
.container-home .vendors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding-top: 10%;
  padding-left: 2%;
  padding-bottom: 2%;
}
.container-home .vendors h2 {
  text-align: center;
}
.container-home .vendors p {
  text-align: center;
  padding-right: 2%;
}
.container-home .vendors img {
  max-width: 50%;
  border-radius: 25%;
}
.container-home .bottom-list {
  padding-top: 5%;
  background-color: #F08080;
  width: 100%;
  padding: 2%;
  margin: 0;
  font-size: 2rem;
}
.container-home .bottom-list a {
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5;
}
.container-home .bottom-list a:hover {
  background: rbga(0, 0, 0, 0.3);
}
.container-home .bottom-list .flex-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: baseline;
}
.container-home .bottom-list .flex-nav ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-home .bottom-list .login {
  background-color: #87CEFA;
  border-radius: 20px;
  cursor: pointer;
  width: 150px;
  height: 5%;
  font-size: 1.6rem;
  color: khaki;
}
.container-home .bottom-list .login:hover {
  background-color: khaki;
  color: #87CEFA;
}
.container-home .bottom-list .signUp {
  background-color: #DAA520;
  border-radius: 20px;
  cursor: pointer;
  width: 150px;
  height: 5%;
  font-size: 1.6rem;
  color: #FF4500;
}
.container-home .bottom-list .signUp:hover {
  background-color: #FF4500;
  color: #DAA520;
}
