.the-team {
    
    h2 {
        text-align: center;
    }

    .team-info {
        .flexbox(row, space-evenly, center, wrap);
        div {
            border: 1px solid black;
            width: 250px;
            margin-top: 25px;
            margin-right: 25px;
            margin-bottom: 25px;
            height: 350px;
        }
    }
}

