header {
    .flexbox(row, space-between, center, nowrap);
    width: 60%;
    margin: 0 auto;
    padding: 25px 0;
    nav {
        .flexbox(row, space-evenly, center, nowrap);
        a {
            .nav-links();
            padding: 0 30px;
        }
    }
}