.header-section {
  background: black;
}

header {
  .flexbox(row, space-evenly, center, nowrap);
  margin: 0 auto;
  padding: 25px 0;

  > img {
    height: 50px;

    @media @tablet {
      margin-bottom: 20px;
    }

    @media @mobile {
      display: none;
    }
  }
  nav {
    .flexbox(row, space-evenly, center, nowrap);
    a {
      .nav-links();
      padding: 0 20px;

      @media @mobile {
        border-bottom: 2px solid @main-color;
        width: 70vw;
        font-size: 1.8rem;
        padding: 20px 0;
      }
    }
    @media @mobile {
      display: none;
    }
  }

  @media @tablet {
    flex-direction: column;
  }
}

//--------------------------------
// Mobile Menu Style
//--------------------------------

.mobile-nav {
  display: none;

  .flex {
    .flexbox(row, space-between, center, nowrap);

    img {
      height: 50px;
    }

    a {
      font-size: 4rem;
      color: white;
      margin-left: 50px;
    }
  }
  @media @mobile {
    display: unset;
  }
}

#mobile-menu {
  display: none;
  flex-direction: column;
  text-align: center;
  a {
    .nav-links();
    padding: 0 20px;
    border-bottom: 2px solid @main-color;
    width: 70vw;
    font-size: 1.8rem;
    padding: 20px 0;
  }
}
